@import "tailwindcss";


body {
  background: black;
}



/* Add smooth scrolling and snap behavior */
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* For individual pages */
.snap-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: auto;
}

.snap-section {
  scroll-snap-align: start;
  min-height: 100vh;
}